*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
    overflow-y : hidden;

}
body{ 
    background-color: #FAF9EE;
    text-align: center;
    margin: 10%;
}
h1{
    color: #A2AF9B;
    font-size: 96px;
    padding: 20px;
}
p{
    font-size: 36px;
    padding: 20px;
}
.btn{
    padding: 20px;
    display: flex;
    gap: 10px;
}
#category{
    flex: 1;
    padding:  20px;
    font-size: 16px;
    background-color: #DCCFC0;
    border: none;
}
#now-playing{
    font-size: 16px;
    padding: 20px 0 10px 0;
    margin-left: -88px;
    font-weight: 50;
}
.audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}

.audio-player button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

#audio {
    display: none; 
}

#audio-player #progress {
    flex: 1;
    height: 5px;
    cursor: pointer;
}
